.container {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding {
    margin-left: 20px;
    text-align: center;
}

.content {
    min-width: 25vw;
}


.footer {
    position: fixed;
    background-color: #000;
    
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 20px;
    width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxmanu {
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.boxmanu:hover {
    background-image: linear-gradient(#944dff,#a366ff, #b380ff);
    width: 100px;
    transform: scale(2);
    margin: 55px;
}

.box:valid {
    color: #000;
    background-image: linear-gradient(#944dff,#a366ff, #b380ff);
    width: 100px;
    margin: 55px;
}

.container>div>button:disabled{
    display: none;
}
.display{
    /* display: none; */
    
    width: 100%;
}
.display[disabled]{
    display: none;
    left: 0;
    bottom: 10%;
    text-align: center;
    width: 100%;
}
.ho[disabled]{
    display: none;
    left: 0;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.display>div>button{
    margin-top: 10px;
}

.text_area{
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.scroll {
  margin-top: 5%;
  right: 7%;
  width: 350px;
  height: 400px;
  overflow: auto;
}

.section{
    padding-left: 100px;
    background-color: #000;  
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    margin-top: 100px;
}

.fixed {
    position: fixed;
    margin-top: 175px;
    margin-right: 7%;
    top: 0;
    right: 0;
}

.detial{
    margin-top: 200px;
}