.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_b {
    
    color: white;
    
    background: url(/135754665_2511331152505300_6399707290704386433_n.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding {
    margin-top: 150px;
    text-align: center;
}

.content {
    min-width: 25vw;
}


.footer {
    position: fixed;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 20px;
    width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxmanu {
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.boxmanu:hover {
    background-image: linear-gradient(#944dff,#a366ff, #b380ff);
    width: 100px;
    transform: scale(2);
    margin: 55px;
}

.box:valid {
    color: #000;
    background-image: linear-gradient(#944dff,#a366ff, #b380ff);
    width: 100px;
    margin: 55px;
}

.container>div>button:disabled{
    display: none;
}
.display{
    /* display: none; */
    
    width: 100%;
}
.display[disabled]{
    display: none;
    left: 0;
    bottom: 10%;
    text-align: center;
    width: 100%;
}
.ho{
    display: none;
    background-color: #944dff;
    
}

.display>div>button{
    margin-top: 10px;
}

.text_area{
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: 2px solid rgb(150, 150, 150);
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.scroll {
  margin-top: 5%;
  right: 7%;
  width: 100%;
  height: 70%;
  overflow: auto;
}

.section{
    padding-left: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);  
    
    width: 100%;
    height: 100px;
    left: 0;
    margin-top: 100px;
}

.fixed {
    color: #000;
    position: fixed;
    margin-top: 175px;
    margin-right: 7%;
    height: 20;
    top: 0;
    right: 0;
}

.detial{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    padding-left: 100px;
}
.areaimage{
    margin-right: 20%;
    
}

.loginadd{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginadd>div{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(#944dff,#a366ff, #b380ff);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;

}
.loginadd>div:hover{
    width: 300px;
    transform: scale(1.1);

}
.h{
    display: flex;
    align-items: center;
}
.h>div{
    margin-right: 10px;
}

.content{
    color: red;
    padding-left: 40px;
    
}

.formath{
    margin-bottom: 20px;
}

.mar{
    margin-top: 10px;
    margin-left: 40px;
}

.mar>button{
    margin-right: 10px;
}

.boxmanu[disabled]{
    display: none;
}


.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    grid-column-end: auto;
    
}

.back{
    height: 500px;
    width: 100%;
    background-color: #000;

}