.container {
    margin-top: px;
    background-color: black;
    min-height: 100vh;
    
}

.padding {
    margin-left: 20px;
    text-align: center;
}

.content {
    min-width: 25vw;
}

.gridContainer {
    margin: 10px;
}

.gridContainer>input {
    margin: 8px;
    height: 35px;
    width: 250px;
    font-size: 18px;
    border: none;
    border-radius: 5px; 
    padding-left: 14px;
    padding-right: 14px;

}
.gridContainer>input:focus {
    outline-color: coral;

}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 150px;
    padding: 40px;
    height: 500px;
    width: 400px;
    background-image: linear-gradient(#944dff, #a366ff, #b380ff);
    border-radius: 4px;
    
}
.btnrg {
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to bottom right, #0099ff , #66c2ff);
    transition: all .2s ease-in-out;
}

.btnrg:hover {
    font-weight: bold;
    width: 150px;
    transform: scale(1);
    
}
.btnrg:active {
    width: 80px;
    transform: scale(1);
    background-image: linear-gradient(to bottom right, #0ad822 , #0ad822);

}

.inner{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 50%;

}

.btnfb {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: #3B5998;
    transition: all .2s ease-in-out;
}

.btnfb:hover {
    font-weight: bold;
    width: 230px;
    transform: scale(1);
    
}
.btnfb:active {
    width: 230px;
    transform: scale(1);
    background-image: linear-gradient(to bottom right, #0ad822 , #0ad822);

}

.btng {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: #F14336;
    transition: all .2s ease-in-out;

}

.btng:hover {
    font-weight: bold;
    width: 230px;
    transform: scale(1);
    
}
.btng:active {
    width: 80px;
    transform: scale(1);
    background-image: linear-gradient(to bottom right, #0ad822 , #0ad822);

}
.notmem {
    margin-top: 15px;
    display: flex;
}

.notmem>div {
    color: #002beb;
}